*{
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    padding-bottom: 40px;
    background-color: black;
    font-size: 22px;
    font-family: "Oswald", sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo{
    width: 200px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 15px;
}

.nav-main ul li a:hover{
    color: #fdd947;
    border-bottom: 2px solid #fdd947;
}

hr{
    margin-top: -15px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.data{
    padding: 2em;
}

.data ul li{
    list-style-type: none;
    margin: 0 65px;
    color: white;
}

.data ul li a:hover{
    color: #fdd947;
}

.map{
    width: 60%;
    padding-left: 135px;
}

