*{
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 40px;
    background-color: black;
    font-size: 22px;
    font-family: "Oswald", sans-serif;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

a{
    color: white;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    padding-left: 25px;
}

.container{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}

.container ul li{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: left;
    width: 100%;
}

.data ul li a:hover{
    color: #fdd947;
}

.map{
    width: 90%;
    display: flex;
    justify-content: left;
}

/*FOOTER*/
.footer{
    background:#ffcd04;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer h3{
    color: black;
    font-size: 20px;
    text-align: center;
}

.footer h3 a{
    color: black;
}

.footer h3 a:hover{
    color: #fdd947;
}
